<div class="container_principal">

    <!-- CABEÇALHO  -->
    <div class="header-toolbar">
        <div class="fc-left">
            <img src="https://gestormix.com/img/sair.png" (click)="voltar()" class="img_nav">
        </div>

        <div class="fc-right title">
            <img src="https://gestormix.com/img/salvar.png" (click)="salvar()" class="img_nav">
        </div>

        <div class="fc-center title">
            <div class="espacador_vertical">&nbsp;</div>
            <span *ngIf="config[dados.PARAMETRO].titulo_lista">{{ config[dados.PARAMETRO].titulo_unidade }} </span>
        </div>
        <div class="fc-clear"></div>
        <div class="espacador_vertical_duplo">&nbsp;</div>
    </div>

    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

    <!-- BARRA DE TITULO - titulo_barra -->
    <div class="ui-grid ui-grid-responsive ui-fluid container_dialogBox_top back_blue">
        <div>
            <span class="titulo_barra">{{dados.selected_edit.key ? 'Editar' : 'Incluir'}}</span>
        </div>
    </div>



    <div *ngIf="dados.PARAMETRO == 'LANCAMENTOS_RECEITA'" class="ui-grid ui-grid-responsive ui-fluid container_dialogBox_bottom back_white">

        <div *ngIf="config[dados.PARAMETRO].data" class="ui-grid-row">
            <div class="form_label_ext2">Data</div>
                <div class="fw43">
                    <input name='data' pInputText [(ngModel)]="dados.selected_edit.data" (change)="data_lancamento('data','editou')" autocomplete="off" />
                </div>
                <div class="fw40">
                    <span class="botao_hoje" (click)="data_lancamento('data')">HOJE</span>
                </div>
        </div>

        <!-- CAMPO DO FORMULARIO DO CENTRO DE CUSTOS -->
        <div *ngIf="config[dados.PARAMETRO].centro_de_custos" class="ui-grid-row">
            <div class="form_label_ext2">Centro de Custos</div>
            <div class="fw83">
                <input name='centro_de_custos' pInputText type="text" [(ngModel)]="dados.selected_edit.centro_de_custos" (keyup)="mostrar_centros_de_custos()" autocomplete="off" />
            </div>
        </div>

        <div *ngIf="listar_centros_de_custos_receita">
            <div class="ui-grid-row">
                <div class="form_label_ext2"> &nbsp; </div>
                <div class="fw83">
                    <div *ngIf="listar_centros_de_custos_receita && dados.filtered_receitas.length > 0">
                        <p-dataView [value]="dados.filtered_receitas" [rows]="5" [paginator]="dados.filtered_receitas.length>5">
                            <ng-template let-registro pTemplate="listItem">
                                <div (click)="escolherCentroDeCustos(registro)">
                                    {{registro.nome}}
                                </div>
                            </ng-template>
                            <p-footer></p-footer>
                        </p-dataView>
                    </div>
                </div>
            </div>
            <div class="espacador_vertical">&nbsp;</div>
        </div>


        <div *ngIf="config[dados.PARAMETRO].nome && !['R-001','R-002'].includes(dados.selected_edit.centro_de_custos_codigo)" class="ui-grid-row">
            <div class="form_label_ext2">{{config[dados.PARAMETRO].label_nome}}:</div>
            <div class="fw83">
                <input name='nome' pInputText type="text" [(ngModel)]="dados.selected_edit.nome" (change)="dados.selected_edit.nome=util.capitalizar(dados.selected_edit.nome)" autocomplete="off" />
            </div>
        </div>

        <div class="espacador_vertical">&nbsp;</div>

        <!-- CAMPO DO FORMULARIO DO PRODUTO -->
        <div *ngIf="['R-001','R-002'].includes(dados.selected_edit.centro_de_custos_codigo) && config[dados.PARAMETRO].produto" class="ui-grid-row">
            <div class="form_label_ext2">{{config[dados.PARAMETRO].label_nome}}</div>
            <div *ngIf="dados.selected_edit.centro_de_custos_codigo=='R-001'" class="fw83">
                <input name='produto' pInputText type="text" [(ngModel)]="dados.selected_edit.produto" (keyup)="mostrar_produtos_estoque()" (change)="definiu_produto()" autocomplete="off" />
            </div>
            <div *ngIf="dados.selected_edit.centro_de_custos_codigo=='R-002'" class="fw83">
                <input name='produto' pInputText type="text" [(ngModel)]="dados.selected_edit.produto" (change)="definiu_produto()" autocomplete="off" />
            </div>
        </div>

        <!-- LISTA DE ESCOLHA do PRODUTO -->
        <!-- <div> -->
        <div *ngIf="listar_estoque && dados.filtered_estoque.length > 0">
            <div class="ui-grid-row">
                <div class="form_label_ext2">
                    <img *ngIf="config[dados.PARAMETRO].listar_imagens && dados.mostrar_imagens_na_lista_estoque" src="https://gestormix.com/img/camera_ativada.png" (click)="mostrar_imagens()" class="img_nav">
                    <img *ngIf="config[dados.PARAMETRO].listar_imagens && !dados.mostrar_imagens_na_lista_estoque" src="https://gestormix.com/img/camera.png" (click)="mostrar_imagens()" class="img_nav">
                </div>
                <div class="fw83">
                    <p-table [value]="dados.filtered_estoque" [rows]="5" [paginator]="dados.filtered_estoque.length > 5">

                        <ng-template pTemplate="caption">
                        </ng-template>

                        <ng-template pTemplate="header">
                           <tr>
                               <th *ngIf="dados.mostrar_imagens_na_lista_estoque" class="pleft">Imagem</th>
                               <th *ngIf="!dados.mostrar_imagens_na_lista_estoque" class="pleft">Código</th>
                               <th>Nome</th>
                               <th class="right">Preço</th>
                               <th class="right">Qtd</th>
                           </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-registro>
                           <tr (click)="escolherProdutoEmEstoque(registro)">
                               <td *ngIf="dados.mostrar_imagens_na_lista_estoque" class="pleft"><img src="{{util.formata_url_com_protocolo(registro.img_url)}}" class="img_url_50"></td>
                               <td *ngIf="!dados.mostrar_imagens_na_lista_estoque" class="pleft"> {{registro.id}}</td>
                               <td>{{registro.nome}}</td>
                               <td class="right">{{registro.preco_venda}}</td>
                               <td class="right">{{registro.quantidade}}</td>
                           </tr>
                        </ng-template>

                        <ng-template pTemplate="summary">
                            {{ dados.filtered_estoque && dados.filtered_estoque.length>0 ? util.complementa(dados.filtered_estoque.length, config.ESTOQUE.singular, config.ESTOQUE.plural) : util.complementa(dados[config.ESTOQUE.selected].length, config.ESTOQUE.singular, config.ESTOQUE.plural) }}
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>


        <div *ngIf="!['R-001','R-002'].includes(dados.selected_edit.centro_de_custos_codigo) && config[dados.PARAMETRO].valor" class="ui-grid-row">
            <div class="form_label_ext2">Preço</div>
            <div class="fw43">
                <input name='valor' pInputText type="text" [(ngModel)]="dados.selected_edit.valor_unitario" (change)="ajusta_valor()" autocomplete="off" />
            </div>
        </div>

        <div *ngIf="['R-001','R-002'].includes(dados.selected_edit.centro_de_custos_codigo)" class="ui-grid-row">
            <div class="form_label_ext2">Preço</div>
            <div class="fw43">
                <input name='valor_unitario' pInputText type="text" [(ngModel)]="dados.selected_edit.valor_unitario" (change)="ajusta_valor()" autocomplete="off" />
            </div>
        </div>

        <div *ngIf="['R-001','R-002'].includes(dados.selected_edit.centro_de_custos_codigo)" class="ui-grid-row">
            <div class="form_label_ext2">Quantidade</div>
            <div class="fw40">
                    <input name='quantidade' pInputText type="text" [(ngModel)]="dados.selected_edit.quantidade" (keyup)="ajusta_valor()" autocomplete="off" />
            </div>
            <div class="fw43" *ngIf="dados.selected_edit.produto && dados.selected_edit.centro_de_custos_codigo!='R-002'">
                <span *ngIf="dados.produto_escolhido.quantidade>0"> <span class="lancamento_em_estoque">Em estoque: <span class="bold">{{dados.produto_escolhido.quantidade}}</span></span></span>
                <span *ngIf="dados.produto_escolhido.quantidade<1"> <span class="lancamento_fora_de_estoque">Fora de estoque: <span class="bold">{{dados.produto_escolhido.quantidade}}</span></span></span>
            </div>
        </div>

        <div *ngIf="['R-001','R-002'].includes(dados.selected_edit.centro_de_custos_codigo)" class="ui-grid-row">
            <div class="form_label_ext2">Desconto</div>
            <div class="fw43">
                    <input name='desconto' pInputText type="text" [(ngModel)]="dados.selected_edit.desconto" (change)="ajusta_valor()" autocomplete="off"/>
            </div>
        </div>

        <div *ngIf="['R-001'].includes(dados.selected_edit.centro_de_custos_codigo)" class="ui-grid-row">
            <div class="form_label_ext2">Valor Total</div>
            <div class="fw43">
                <input name='valor' pInputText type="text" [(ngModel)]="dados.selected_edit.valor"  autocomplete="off"/>
            </div>
        </div>

        <div *ngIf="['R-002'].includes(dados.selected_edit.centro_de_custos_codigo)" class="ui-grid-row">
            <div class="form_label_ext2">Valor Total</div>
            <div class="fw43">
                <input name='valor_total' pInputText type="text" [(ngModel)]="dados.selected_edit.valor_total" (change)="ajusta_valor()" />
            </div>
        </div>

        <div *ngIf="dados.selected_edit.centro_de_custos_codigo=='R-002'" class="ui-grid-row">
            <div class="form_label_ext2">Comissão</div>
            <div class="fw43">
                <input name='valor' pInputText type="text" [(ngModel)]="dados.selected_edit.valor" (change)="ajusta_valor()" autocomplete="off"/>
            </div>
        </div>

        <div class="espacador_vertical">&nbsp;</div>

        <div *ngIf="dados.selected_edit.centro_de_custos_codigo != 'R-002'">
            <div *ngIf="config[dados.PARAMETRO].meio_de_pagamento" class="ui-grid-row">
                <div class="form_label_ext2 pad_top_2">Meio de Pagamento</div>
                <div class="fw83">
                    <span class="{{button1}}" (click)="opt('1')">Dinheiro</span>
                    <span class="{{button2}}" (click)="opt('2')">Cheque</span>
                    <span class="{{button3}}" (click)="opt('3')">Cheque Pré</span>
                    <span class="{{button4}}" (click)="opt('4')">Débito</span>
                    <span class="{{button5}}" (click)="opt('5')">Crédito</span>
                </div>
            </div>
        </div>

        <div *ngIf="dados.selected_edit.centro_de_custos_codigo == 'R-002'">
            <div *ngIf="config[dados.PARAMETRO].meio_de_pagamento" class="ui-grid-row">
                <div class="form_label_ext2 pad_top_2">Meio de Pagamento</div>
                <div class="fw43">
                    <span class="button_brown">Comissão a receber</span>
                </div>
            </div>
        </div>
        <div class="espacador_vertical">&nbsp;</div>


        <div *ngIf="dados.selected_edit.meio_de_pagamento=='credito'" class="ui-grid-row">
            <div class="form_label_ext">Crédito em</div>
            <div class="fw43">
                <input name='data_credito' pInputText [(ngModel)]="dados.selected_edit.data_credito" (change)="dados.selected_edit.data_credito=util.formata_data(dados.selected_edit.data_credito,'recente')" autocomplete="off" />
            </div>
        </div>
        <div *ngIf="dados.selected_edit.meio_de_pagamento=='credito'" class="espacador_vertical"></div>

        <div *ngIf="dados.selected_edit.meio_de_pagamento=='cheque_pre'" class="ui-grid-row">
            <div class="form_label_ext">Cheque para</div>
            <div class="fw43">
                <input name='data_cheque_pre' pInputText [(ngModel)]="dados.selected_edit.data_cheque_pre" (change)="dados.selected_edit.data_cheque_pre=util.formata_data(dados.selected_edit.data_cheque_pre,'recente')" autocomplete="off" />
            </div>
        </div>
        <div *ngIf="dados.selected_edit.meio_de_pagamento=='cheque_pre'" class="espacador_vertical"></div>

       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="ui-grid-row">
       <div class="form_label_ext">Banco</div>
           <div class="fw83"> <input name='banco' pInputText [(ngModel)]="dados.selected_edit.banco" (keyup)="mostrar_lista_de_bancos('todos','banco','listar_bancos_2')" autocomplete="off" /> </div>
       </div>

       <div *ngIf="listar_bancos_2">
           <div *ngIf="dados.selected_edit.banco" class="ui-grid-row">
               <div class="form_label_ext2"> &nbsp; </div>
               <div class="fw83">
                   <div *ngIf="dados.filtered_codigos_de_bancos.length > 0">

                       <p-dataView [value]="dados.filtered_codigos_de_bancos" [rows]="5" [paginator]="dados.filtered_codigos_de_bancos.length>5">
                           <ng-template let-registro pTemplate="listItem">
                               <div (click)="escolherBanco(registro,'banco','listar_bancos_2')">
                                   {{registro.codigo}} - {{registro.nome}}
                               </div>
                           </ng-template>
                           <p-footer></p-footer>
                       </p-dataView>

                       <div class="espacador_vertical_duplo">&nbsp;</div>
                   </div>
               </div>
           </div>
       </div>

       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="ui-grid-row">
       <div class="form_label_ext">Agência</div>
           <div class="fw43"> <input name='agencia' pInputText [(ngModel)]="dados.selected_edit.agencia" autocomplete="off" /> </div>
       </div>

       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="ui-grid-row">
       <div class="form_label_ext">Conta</div>
           <div class="fw43"> <input name='conta' pInputText [(ngModel)]="dados.selected_edit.conta" autocomplete="off" /> </div>
       </div>

       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="ui-grid-row">
       <div class="form_label_ext">Cheque nº</div>
           <div class="fw43"> <input name='cheque_numero' pInputText [(ngModel)]="dados.selected_edit.cheque_numero" autocomplete="off" /> </div>
       </div>

       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="espacador_vertical">&nbsp;</div>

       <div class="espacador_vertical">&nbsp;</div>

       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="ui-grid-row">
           <div class="form_label_ext pad_top_5">DEPOSITADO</div>
           <div class="fw83">
               <p-checkbox [(ngModel)]="dados.selected_edit.depositado" binary="true"></p-checkbox>
               <span *ngIf="!dados.selected_edit.depositado" class="status_lancamento red">&nbsp; NÃO DEPOSITADO</span>
               <span *ngIf="dados.selected_edit.depositado" class="status_lancamento green">&nbsp; DEPOSITADO</span>
           </div>
       </div>

       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="ui-grid-row">
           <div class="form_label_ext">Depositado em</div>
           <div class="fw43">
               <input name='data_depositado' pInputText [(ngModel)]="dados.selected_edit.data_depositado" (change)="dados.selected_edit.data_depositado=util.formata_data(dados.selected_edit.data_depositado,'recente')" autocomplete="off" />
           </div>
       </div>

       <div  class="ui-grid-row">
            <div class="form_label_ext pad_top_5">QUITADO</div>
            <div class="fw83">
                <p-checkbox [(ngModel)]="dados.selected_edit.quitado" binary="true"></p-checkbox>
                <span *ngIf="dados.selected_edit.quitado" class="status_lancamento green">&nbsp; QUITADO</span>
                <span *ngIf="!dados.selected_edit.quitado" class="status_lancamento red">&nbsp; EM ABERTO</span>
            </div>
        </div>

        <div  *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)">
            <div  class="ui-grid-row">
                <div class="form_label_ext">Quitado em</div>
                <div class="fw43">
                    <input name='data_quitado' pInputText [(ngModel)]="dados.selected_edit.data_quitado" (change)="dados.selected_edit.data_quitado=util.formata_data(dados.selected_edit.data_quitado,'recente')" autocomplete="off" />
                </div>
            </div>
        </div>

        <div class="espacador_vertical_duplo">&nbsp;</div>


        <!-- PAGADOR (CONTRAPARTE) -->
        <div>
            <div *ngIf="config[dados.PARAMETRO].contraparte" class="ui-grid-row">
                <div class="form_label_ext2">{{config[dados.PARAMETRO].label_contraparte}}</div>
                <div class="fw83"><input name='contraparte' pInputText type="text" [(ngModel)]="dados.selected_edit.contraparte" (keyup)="mostrar_contrapartes()" autocomplete="off" /></div>
            </div>

            <div *ngIf="listar_clientes">
                <div class="ui-grid-row">
                    <div class="form_label_ext2"> &nbsp; </div>
                    <div class="fw83">
                        <div *ngIf="dados.selected_edit.contraparte && dados.filtered_clientes.length > 0">

                            <div *ngIf="dados.filtered_clientes.length > 0">

                                <p-dataView [value]="dados.filtered_clientes" [rows]="5" [paginator]="dados.filtered_clientes.length>5">
                                    <ng-template let-registro pTemplate="listItem">
                                        <div (click)="escolherRegistro(registro)">
                                            <div class="float_left">{{registro.nome}}</div>
                                            <div class="float_right">{{registro.id ? registro.id : (registro.cpf ? registro.cpf : '')}}</div>
                                            <div class="fc-center-l"></div>
                                            <div class="fc-clear"></div>
                                        </div>
                                    </ng-template>
                                    <p-footer></p-footer>
                                </p-dataView>

                            </div>

                            <div class="espacador_vertical_duplo">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="config[dados.PARAMETRO].contraparte_cpf && !dados.selected_edit.contraparte_cnpj" class="ui-grid-row">
                <div class="form_label_ext2">CPF</div>
                <div class="fw83"><input name='contraparte_cpf' pInputText type="text" [(ngModel)]="dados.selected_edit.contraparte_cpf" (change)="dados.selected_edit.contraparte_cpf=util.formata_cpf(dados.selected_edit.contraparte_cpf)" autocomplete="off" /></div>
            </div>
            <div *ngIf="config[dados.PARAMETRO].contraparte_cnpj && !dados.selected_edit.contraparte_cpf" class="ui-grid-row">
                <div class="form_label_ext2">CNPJ</div>
                <div class="fw83"><input name='contraparte_cnpj' pInputText type="text" [(ngModel)]="dados.selected_edit.contraparte_cnpj" (change)="dados.selected_edit.contraparte_cnpj=util.formata_cnpj(dados.selected_edit.contraparte_cnpj)" autocomplete="off" /></div>
            </div>

            <div class="espacador_vertical_duplo">&nbsp;</div>
        </div>


        <div *ngIf="config[dados.PARAMETRO].obs" class="ui-grid-row">
            <div class="form_label_ext">{{label_obs}}</div>
            <div class="fw83">
                <textarea pInputTextarea rows="2" cols="30" wrap="hard" [(ngModel)]="dados.selected_edit.obs"></textarea>
            </div>
        </div>
    </div>


    <div *ngIf="dados.PARAMETRO == 'LANCAMENTOS_DESPESA'" class="ui-grid ui-grid-responsive ui-fluid container_dialogBox_bottom back_white">
        <div *ngIf="config[dados.PARAMETRO].data" class="ui-grid-row">
            <div class="form_label_ext2">Data</div>
                <div class="fw43">
                    <input name='data' pInputText [(ngModel)]="dados.selected_edit.data" (change)="data_lancamento('data','editou')" autocomplete="off" />
                </div>
                <div class="fw40">
                    <span class="botao_hoje" (click)="data_lancamento('data')">HOJE</span>
                </div>
        </div>

        <!-- CAMPO DO FORMULARIO DO CENTRO DE CUSTOS -->
        <div *ngIf="config[dados.PARAMETRO].centro_de_custos" class="ui-grid-row">
            <div class="form_label_ext2">Centro de Custos</div>
            <div class="fw83">
                <input name='centro_de_custos' pInputText type="text" [(ngModel)]="dados.selected_edit.centro_de_custos" (keyup)="mostrar_centros_de_custos()" autocomplete="off">
            </div>
        </div>

        <div *ngIf="listar_centros_de_custos_despesa">
            <div class="ui-grid-row">
                <div class="form_label_ext2"> &nbsp; </div>
                <div class="fw83">
                    <div *ngIf="listar_centros_de_custos_despesa && dados.filtered_despesas.length > 0">
                        <p-dataView [value]="dados.filtered_despesas" [rows]="5" [paginator]="dados.filtered_despesas.length>5">
                            <ng-template let-registro pTemplate="listItem">
                                <div (click)="escolherCentroDeCustos(registro)">
                                    {{registro.nome}}
                                </div>
                            </ng-template>
                            <p-footer></p-footer>
                        </p-dataView>
                    </div>
                </div>
            </div>
            <div class="espacador_vertical">&nbsp;</div>
        </div>


        <div *ngIf="config[dados.PARAMETRO].nome" class="ui-grid-row">
            <div class="form_label_ext2">{{config[dados.PARAMETRO].label_nome}}:</div>
            <div class="fw83">
                <input name='nome' pInputText type="text" [(ngModel)]="dados.selected_edit.nome" (change)="dados.selected_edit.nome=util.capitalizar(dados.selected_edit.nome)" autocomplete="off" />
            </div>
        </div>

        <div class="espacador_vertical">&nbsp;</div>

        <div class="ui-grid-row">
            <div class="form_label_ext2">Preço</div>
            <div class="fw43">
                <input name='valor_unitario' pInputText type="text" [(ngModel)]="dados.selected_edit.valor_unitario" (change)="ajusta_valor_despesa()" autocomplete="off" />
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="form_label_ext2">Quantidade</div>
            <div class="fw43">
                    <input name='quantidade' pInputText type="text" [(ngModel)]="dados.selected_edit.quantidade" (change)="ajusta_valor_despesa()" autocomplete="off"/>
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="form_label_ext2">Desconto</div>
            <div class="fw43">
                    <input name='desconto' pInputText type="text" [(ngModel)]="dados.selected_edit.desconto" (change)="ajusta_valor_despesa()" autocomplete="off"/>
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="form_label_ext2">Valor Total</div>
            <div class="fw43">
                <input name='valor' pInputText type="text" [(ngModel)]="dados.selected_edit.valor" disabled='true' />
            </div>
        </div>

        <div class="espacador_vertical">&nbsp;</div>

        <div>
            <div *ngIf="config[dados.PARAMETRO].meio_de_pagamento" class="ui-grid-row">
                <div class="form_label_ext2 pad_top_2">Meio de Pagamento</div>
                <div class="fw83">
                    <span class="{{button1}}" (click)="opt('1')">Dinheiro</span>
                    <span class="{{button2}}" (click)="opt('2')">Cheque</span>
                    <span class="{{button3}}" (click)="opt('3')">Cheque Pré</span>
                    <span class="{{button4}}" (click)="opt('4')">Débito</span>
                    <span class="{{button5}}" (click)="opt('5')">Crédito</span>
                </div>
            </div>
        </div>

        <div class="espacador_vertical">&nbsp;</div>



        <div *ngIf="dados.selected_edit.meio_de_pagamento=='cheque_pre'" class="ui-grid-row">
            <div class="form_label_ext">Cheque para</div>
            <div class="fw43">
                <input name='data_cheque_pre' pInputText [(ngModel)]="dados.selected_edit.data_cheque_pre" (change)="dados.selected_edit.data_cheque_pre=util.formata_data(dados.selected_edit.data_cheque_pre,'recente')" autocomplete="off" />
            </div>
        </div>
        <div *ngIf="dados.selected_edit.meio_de_pagamento=='cheque_pre'" class="espacador_vertical"></div>

       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="ui-grid-row">
       <div class="form_label_ext">Banco</div>
           <div class="fw83"> <input name='banco' pInputText [(ngModel)]="dados.selected_edit.banco" (keyup)="mostrar_lista_de_bancos('meus','banco','listar_bancos_3')" autocomplete="off" /> </div>
       </div>

       <div *ngIf="listar_bancos_3">
           <div *ngIf="dados.selected_edit.banco" class="ui-grid-row">
               <div class="form_label_ext2"> &nbsp; </div>
               <div class="fw83">
                   <div *ngIf="dados.filtered_bancos.length > 0">

                       <p-dataView [value]="dados.filtered_bancos" [rows]="5" [paginator]="dados.filtered_bancos.length>5">
                           <ng-template let-registro pTemplate="listItem">
                               <div (click)="escolherBanco(registro,'banco','listar_bancos_3')">
                                   {{registro.nome}}
                               </div>
                           </ng-template>
                           <p-footer></p-footer>
                       </p-dataView>

                       <div class="espacador_vertical_duplo">&nbsp;</div>
                   </div>
               </div>
           </div>
       </div>

       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="ui-grid-row">
       <div class="form_label_ext">Agência</div>
           <div class="fw43"> <input name='agencia' pInputText [(ngModel)]="dados.selected_edit.agencia" autocomplete="off" /> </div>
       </div>

       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="ui-grid-row">
       <div class="form_label_ext">Conta</div>
           <div class="fw43"> <input name='conta' pInputText [(ngModel)]="dados.selected_edit.conta" autocomplete="off" /> </div>
       </div>

       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="ui-grid-row">
       <div class="form_label_ext">Cheque nº</div>
           <div class="fw43"> <input name='cheque_numero' pInputText [(ngModel)]="dados.selected_edit.cheque_numero" autocomplete="off" /> </div>
       </div>

       <!-- <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="espacador_vertical">&nbsp;</div>
       <div *ngIf="['cheque','cheque_pre'].includes(dados.selected_edit.meio_de_pagamento)" class="ui-grid-row">
           <div class="form_label_ext pad_top_5">ENTREGUE</div>
           <div class="fw83">
               <p-checkbox [(ngModel)]="dados.selected_edit.depositado" binary="true"></p-checkbox>
              <span *ngIf="dados.selected_edit.depositado" class="status_lancamento green"> &nbsp; ENTREGUE</span>
              <span *ngIf="!dados.selected_edit.depositado" class="status_lancamento red"> &nbsp; NÃO ENTREGUE</span>
           </div>
       </div> -->

       <div *ngIf="dados.selected_edit.meio_de_pagamento=='cheque'" class="ui-grid-row">
          <div class="form_label_ext">Entregue</div>
          <div class="fw43">
              <input name='data_depositado' pInputText [(ngModel)]="dados.selected_edit.data_depositado" (change)="dados.selected_edit.data_depositado=util.formata_data(dados.selected_edit.data_depositado,'recente')" autocomplete="off" />
          </div>
       </div>

        <!-- <div *ngIf="dados.selected_edit.meio_de_pagamento=='credito'" class="ui-grid-row">
            <div class="form_label_ext">Autorizado</div>
            <div class="fw83">
                <input name='data_depositado' pInputText [(ngModel)]="dados.selected_edit.data_depositado" (change)="dados.selected_edit.data_depositado=util.formata_data(dados.selected_edit.data_depositado,'recente')" autocomplete="off" />
            </div>
        </div> -->

        <div class="espacador_vertical">&nbsp;</div>

        <div *ngIf="config[dados.PARAMETRO].quitado" class="ui-grid-row">
            <div class="form_label_ext pad_top_5">QUITADO</div>
            <div class="fw83">
                <p-checkbox name="quitado" [(ngModel)]="dados.selected_edit.quitado" binary="true"></p-checkbox>
                <span *ngIf="dados.selected_edit.quitado" class="status_lancamento green">&nbsp; QUITADO</span>
                <span *ngIf="!dados.selected_edit.quitado" class="status_lancamento red">&nbsp; EM ABERTO</span>
            </div>
        </div>

        <div class="espacador_vertical_duplo">&nbsp;</div>


        <!-- CONTRAPARTE -->
        <div>
            <div *ngIf="config[dados.PARAMETRO].contraparte" class="ui-grid-row">
                <div class="form_label_ext2">{{config[dados.PARAMETRO].label_contraparte}}</div>
                <div class="fw83"><input name='contraparte' pInputText type="text" [(ngModel)]="dados.selected_edit.contraparte" (keyup)="mostrar_contrapartes()" autocomplete="off" /></div>
            </div>

            <div *ngIf="listar_fornecedores">
                <div class="ui-grid-row">
                    <div class="form_label_ext2"> &nbsp; </div>
                    <div class="fw83">
                        <div *ngIf="dados.filtered_fornecedores.length > 0">

                            <p-dataView [value]="dados.filtered_fornecedores" [rows]="5" [paginator]="dados.filtered_fornecedores.length>5">
                                <ng-template let-registro pTemplate="listItem">
                                    <div (click)="escolherFornecedor(registro)">
                                        {{registro.nome}}
                                    </div>
                                </ng-template>
                                <p-footer></p-footer>
                            </p-dataView>

                            <div class="espacador_vertical_duplo">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>


            <div *ngIf="config[dados.PARAMETRO].contraparte_cpf && !dados.selected_edit.contraparte_cnpj" class="ui-grid-row">
                <div class="form_label_ext2">CPF</div>
                <div class="fw83"><input name='contraparte_cpf' pInputText type="text" [(ngModel)]="dados.selected_edit.contraparte_cpf" (change)="dados.selected_edit.contraparte_cpf=util.formata_cpf(dados.selected_edit.contraparte_cpf)" autocomplete="off" /></div>
            </div>
            <div *ngIf="config[dados.PARAMETRO].contraparte_cnpj && !dados.selected_edit.contraparte_cpf" class="ui-grid-row">
                <div class="form_label_ext2">CNPJ</div>
                <div class="fw83"><input name='contraparte_cnpj' pInputText type="text" [(ngModel)]="dados.selected_edit.contraparte_cnpj" (change)="dados.selected_edit.contraparte_cnpj=util.formata_cnpj(dados.selected_edit.contraparte_cnpj)" autocomplete="off" /></div>
            </div>

            <div class="espacador_vertical_duplo">&nbsp;</div>
        </div>

        <div *ngIf="dados.selected_edit.contraparte && (dados.selected_edit.centro_de_custos == 'Consulta Médica' || dados.selected_edit.centro_de_custos == 'Consulta Odontológica')">


            <div class="espacador_vertical_duplo">&nbsp;</div>
        </div>




        <!-- // PROFISSIONAL QUE REALIZOU O PROCEDIMENTO -->

        <div *ngIf="config[dados.PARAMETRO].obs" class="ui-grid-row">
            <div class="form_label_ext">{{label_obs}}</div>
            <div class="fw83">
                <textarea pInputTextarea rows="2" cols="30" wrap="hard" [(ngModel)]="dados.selected_edit.obs"></textarea>
            </div>
        </div>

    </div>


    <div *ngIf="dados.PARAMETRO == 'BANCOS'" class="ui-grid ui-grid-responsive ui-fluid container_dialogBox_bottom back_white">

        <div class="espacador_vertical">&nbsp;</div>
        <div *ngIf="config[dados.PARAMETRO].nome" class="ui-grid-row">
            <div class="form_label_ext2">{{config[dados.PARAMETRO].label_nome}}</div>
            <div class="form_content left"><input pInputText class="w100" type="text" [(ngModel)]="dados.selected_edit.nome" (keyup)="mostrar_lista_de_bancos('todos','nome','listar_bancos_1')" autocomplete="off" /></div>
        </div>

       <div *ngIf="listar_bancos_1">
           <div class="espacador_vertical_metade">&nbsp;</div>
           <div *ngIf="dados.selected_edit.nome" class="ui-grid-row">
               <div class="form_label_ext2"> &nbsp; </div>
               <div class="form_content left">
                   <div *ngIf="dados.filtered_codigos_de_bancos.length > 0">

                       <p-dataView [value]="dados.filtered_codigos_de_bancos" [rows]="5" [paginator]="dados.filtered_codigos_de_bancos.length>5">
                           <ng-template let-registro pTemplate="listItem">
                               <div (click)="escolherBanco(registro,'nome','listar_bancos_1')">
                                   {{registro.codigo}} - {{registro.nome}}
                               </div>
                           </ng-template>
                           <p-footer></p-footer>
                       </p-dataView>

                       <div class="espacador_vertical_duplo">&nbsp;</div>
                   </div>
               </div>
           </div>
       </div>


        <div class="espacador_vertical">&nbsp;</div>
        <div *ngIf="config[dados.PARAMETRO].agencia" class="ui-grid-row">
            <div class="form_label_ext2">Agência</div>
            <div class="form_content left"><input pInputText class="w100" type="text" [(ngModel)]="dados.selected_edit.agencia" autocomplete="off" /></div>
        </div>

        <div class="espacador_vertical">&nbsp;</div>
        <div *ngIf="config[dados.PARAMETRO].conta" class="ui-grid-row">
            <div class="form_label_ext2">Nº da Conta</div>
            <div class="form_content left"><input pInputText class="w100" type="text" [(ngModel)]="dados.selected_edit.conta" (change)="dados.selected_edit.conta=util.troca_virgulas_por_pontos(dados.selected_edit.conta)" autocomplete="off" /></div>
        </div>

        <div class="espacador_vertical">&nbsp;</div>

        <div *ngIf="config[dados.PARAMETRO].conta" class="ui-grid-row">
            <div class="form_label_ext2">Tipo de conta</div>
            <div class="form_content left">
                <span *ngIf="dados.selected_edit.corrente" class="button_brown white" (click)="dados.selected_edit.corrente=false">CONTA CORRENTE</span>
                <span *ngIf="!dados.selected_edit.corrente" class="button_off white" (click)="dados.selected_edit.corrente=true">CONTA CORRENTE</span>
                &nbsp;
                <span *ngIf="!dados.selected_edit.corrente" class="button_brown white" (click)="dados.selected_edit.corrente=true">CONTA POUPANÇA</span>
                <span *ngIf="dados.selected_edit.corrente" class="button_off white" (click)="dados.selected_edit.corrente=false">CONTA POUPANÇA</span>
            </div>
        </div>

        <div class="espacador_vertical_duplo">&nbsp;</div>

        <div *ngIf="config[dados.PARAMETRO].gerente" class="ui-grid-row">
            <div class="form_label_ext2">Gerente</div>
            <div class="form_content left"><input pInputText type="text" [(ngModel)]="dados.selected_edit.gerente" (change)="dados.selected_edit.gerente=util.capitalizar(dados.selected_edit.gerente)" /></div>
        </div>

        <div *ngIf="config[dados.PARAMETRO].tel_contato" class="ui-grid-row">
            <div class="form_label_ext2">Telefone</div>
            <div class="form_content left"><input pInputText type="text" [(ngModel)]="dados.selected_edit.tel_contato" (change)="dados.selected_edit.tel_contato=util.formata_tel(dados.selected_edit.tel_contato)" /></div>
        </div>

        <!-- <div *ngIf="config[dados.PARAMETRO].saldo" class="ui-grid-row">
            <div class="form_label_ext2">Saldo</div>
            <div class="form_content left"><input pInputText class="w100" type="text" [(ngModel)]="dados.selected_edit.saldo" (change)="dados.selected_edit.saldo=util.formata_valor(dados.selected_edit.saldo)" disabled="{{!config[dados.PARAMETRO].pode_editar_saldo}}" autocomplete="off" /></div>
        </div> -->

        <div class="espacador_vertical_duplo">&nbsp;</div>

        <div *ngIf="config[dados.PARAMETRO].obs" class="ui-grid-row">
            <div class="form_label_ext2">{{label_obs}}</div>
            <div class="form_content left">
                <textarea pInputTextarea rows="2" cols="30" wrap="hard" [(ngModel)]="dados.selected_edit.obs"></textarea>
            </div>
        </div>

        <div class="espacador_vertical">&nbsp;</div>
    </div>



    <!-- RODAPÉ COM ICONES -->
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="fc-left menu_home">
            <img *ngIf="pode_excluir && dados.selected_edit.key" src="https://gestormix.com/img/lixo.png" (click)="dialogExcluir()" class="img_nav">
            <img *ngIf="!pode_excluir || !dados.selected_edit.key" src="https://gestormix.com/img/vazio.png" class="img_nav" />
        </div>
        <div class="float_right">
            <img src="https://gestormix.com/img/salvar.png" (click)="salvar()" class="img_nav">
        </div>
        <div class="float-center">

            <!-- POPUPS DE ALERTA  -->

            <!-- Excluir  -->
            <div *ngIf="estornar_ou_excluir_dialog">
                <div class="center">
                    &nbsp; <br />
                    <span *ngIf="pode_estornar" class="button_orange" (click)="confirmar_estorno()"> Estornar </span> &nbsp;
                    <span class="button_red" (click)="confirmar_exclusao()"> Excluir </span> &nbsp;
                    <span class="button_green" (click)="estornar_ou_excluir_dialog=false"> Cancelar </span>
                </div>
            </div>

            <!-- Confirmar Estorno -->
            <div *ngIf="confirmar_estorno_dialog">
                <div class="center">
                    &nbsp; <br />
                    <span class="button_red" (click)="estornar()"> Confirmar o Estorno </span> &nbsp;
                    <span class="button_green" (click)="confirmar_estorno_dialog=false"> Cancelar o Estorno </span>
                </div>
            </div>

            <!-- Confirmar Exclusão -->
            <div *ngIf="confirmar_exclusao_dialog">
                <div class="center">
                    &nbsp; <br />
                    <span class="button_red" (click)="excluir()"> Confirmar a Exclusão </span> &nbsp;
                    <span class="button_green" (click)="confirmar_exclusao_dialog=false"> Cancelar a Exclusão </span>
                </div>
            </div>
        </div>
        <div class="fc-clear"></div>
    </div>

</div>
