<!-- LOGADO -->
<div *ngIf="auth.user | async as user; else showLogin">

    <!-- VER HOME -->
    <div *ngIf="config.DISPLAY.Home">
        <app-home></app-home>
    </div>

    <!-- VER LISTA -->
    <div *ngIf="config.DISPLAY.Lista">
        <app-list></app-list>
    </div>

    <!-- VER REGISTRO -->
    <div *ngIf="config.DISPLAY.Registro">
        <app-detail></app-detail>
    </div>

    <!-- EDITAR REGISTRO -->
    <div *ngIf="config.DISPLAY.Editar">
        <app-edit></app-edit>
    </div>

    <!-- CONFIG -->
    <div *ngIf="config.DISPLAY.Config">
        <app-config></app-config>
    </div>

    <!-- ATENDIMENTOS -->
    <div *ngIf="config.DISPLAY.EditAtendimentos">
        <app-edit_atendimentos></app-edit_atendimentos>
    </div>

    <!-- PERFIL -->
    <div *ngIf="config.DISPLAY.EditPerfil">
        <app-edit_perfil></app-edit_perfil>
    </div>

    <!-- ESTOQUE -->
    <div *ngIf="config.DISPLAY.EditEstoque">
        <app-edit_estoque></app-edit_estoque>
    </div>


    <!-- LANCAMENTOS -->
    <div *ngIf="config.DISPLAY.EditLancamentos">
        <app-edit_lancamentos></app-edit_lancamentos>
    </div>





    <!-- RODAPE DE AUTENTICAÇÃO -->
    <div class="screen_only">
        <div class="espacador_vertical">&nbsp;</div>
        <div class="small"> {{ user.displayName }} </div>
        <div class="small"> {{ user.email }} </div>
        <div class="espacador_vertical_metade">&nbsp;</div>
        <div class="center">
            <button (click)="logout()"> SAIR </button>
        </div>
        <div class="espacador_vertical">&nbsp;</div>
    </div>

</div>

<!-- NÃO LOGADO -->
<ng-template #showLogin>

        <div class="espacador_vertical_duplo">&nbsp;</div>
        <div class="container_logo">
            <div class="espacador_vertical_duplo">&nbsp;</div>
            <div align="center">
                <img src="https://gestormix.com/img/logo.gif" class="container_logo_img" alt="GestorMIX.com">
            </div>

            <!-- RODAPE DE AUTENTICAÇÃO -->
            <div class="espacador_vertical_duplo">&nbsp;</div>
            <div class="sub_title">
                <p>
                    Gestão Financeira Profissional
                </p>

                <p class="center">

            </div>
            <div class="espacador_vertical_duplo">&nbsp;</div>
            <button (click)="login()">  ENTRAR com sua conta GOOGLE  </button>
            <div class="espacador_vertical_duplo">&nbsp;</div>
        </div>
        <div class="espacador_vertical">&nbsp;</div>
        <div class="espacador_vertical">&nbsp;</div>

</ng-template>



<router-outlet></router-outlet>
