<div class="container_principal">

    <!-- CABEÇALHO  -->
    <div class="header-toolbar">
        <div class="fc-left">
            <img src="https://gestormix.com/img/sair.png" (click)="voltar()" class="img_nav">
        </div>

        <div class="fc-right title">
            <img src="https://gestormix.com/img/salvar.png" (click)="salvar()" class="img_nav">
        </div>

        <div class="fc-center title">
            <div class="espacador_vertical">&nbsp;</div>
            <span *ngIf="config[dados.PARAMETRO].titulo_lista">{{ config[dados.PARAMETRO].titulo_unidade }} </span>
        </div>
        <div class="fc-clear"></div>
        <div class="espacador_vertical_duplo">&nbsp;</div>
    </div>

    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

    <!-- BARRA DE TITULO - titulo_barra -->
    <div class="ui-grid ui-grid-responsive ui-fluid container_dialogBox_top back_blue">
        <div>
            <span class="titulo_barra">{{dados.selected_edit.key ? 'Editar' : 'Incluir'}}</span>
        </div>
    </div>



    <div *ngIf="dados.PARAMETRO == 'CONFIGURACAO'" class="ui-grid ui-grid-responsive ui-fluid container_dialogBox_bottom back_white">
        <div class="espacador_vertical">&nbsp;</div>

        <div *ngIf="config.ATIVAR_CLIENTES">
            <div class="sub_title_menor left">
                MOSTRAR CAMPO DE CÓDIGO PARA CLIENTES?
            </div>
            <div class="float_clear"></div>
            <div class="espacador_vertical">&nbsp;</div>

            <div class="left">
                <p-checkbox name="id_para_clientes" [(ngModel)]="dados.selected_edit.id_para_clientes" binary="true"></p-checkbox>
                &nbsp; <span *ngIf="dados.selected_edit.id_para_clientes" class="config_item red">COM CAMPO DE CÓDIGO DO CLIENTE (ID)</span>
                &nbsp; <span *ngIf="!dados.selected_edit.id_para_clientes" class="config_item grey">SEM CAMPO DE CÓDIGO DO CLIENTE</span>
            </div>
            <div class="float_clear"></div>
            <div class="espacador_vertical_duplo">&nbsp;</div>
        </div>

        <div *ngIf="config.ATIVAR_SOCIOS">
            <div class="sub_title_menor left">
                MOSTRAR CAMPO DE CÓDIGO PARA SOCIOS?
            </div>
            <div class="float_clear"></div>
            <div class="espacador_vertical">&nbsp;</div>

            <div class="left">
                <p-checkbox name="id_para_socios" [(ngModel)]="dados.selected_edit.id_para_socios" binary="true"></p-checkbox>
                &nbsp; <span *ngIf="dados.selected_edit.id_para_socios" class="config_item red">COM CAMPO DE CÓDIGO DO SOCIO (ID)</span>
                &nbsp; <span *ngIf="!dados.selected_edit.id_para_socios" class="config_item grey">SEM CAMPO DE CÓDIGO DO SOCIO</span>
            </div>
            <div class="float_clear"></div>
            <div class="espacador_vertical_duplo">&nbsp;</div>
        </div>


        <div class="sub_title_menor left">
            TÍTULO PROFISSIONAL PARA USAR NAS MENSAGENS
        </div>
        <div class="float_clear"></div>
        <div class="espacador_vertical">&nbsp;</div>

        <div *ngIf="config[dados.PARAMETRO].titulo_profissional" class="ui-grid-row">
            <div class="form_label_ext2 red">TITULO</div>
            <div class="fw83"><input pInputText type="text" [(ngModel)]="dados.selected_edit.titulo_profissional" /></div>
        </div>
        <div class="float_clear"></div>
        <div class="espacador_vertical_duplo">&nbsp;</div>

        <div class="sub_title_menor left">
            VALORES INICIAIS PARA SUGERIR NOS FORMULÁRIOS
        </div>
        <div class="float_clear"></div>
        <div class="espacador_vertical">&nbsp;</div>
        <div>
            <div *ngIf="config[dados.PARAMETRO].cidade_default" class="ui-grid-row">
                <div class="form_label_ext2">CIDADE INICIAL</div>
                <div class="fw83"><input pInputText type="text" [(ngModel)]="dados.selected_edit.cidade_default" (change)="dados.selected_edit.cidade_default=util.formata_cidade(dados.selected_edit.cidade_default)" autocomplete="off" /></div>
            </div>

            <div *ngIf="config[dados.PARAMETRO].estado_default" class="ui-grid-row">
                <div class="form_label_ext2">ESTADO INICIAL</div>
                <div class="fw43"><input pInputText [(ngModel)]="dados.selected_edit.estado_default" (change)="dados.selected_edit.estado_default=util.formata_maiusculas(dados.selected_edit.estado_default)" autocomplete="off" /></div>
            </div>
        </div>

        <div class="espacador_vertical">&nbsp;</div>
    </div>




</div>
