@page {
  size: letter portrait;
  margin-top: 17mm;
  margin-bottom: 0mm;
  margin-left: 20mm;
  margin-right: 0cm;
}





/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


.print_container{
    display: block;
}

.print_container:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    display: block;
    font-size: 10pt;
    height: 24mm;
    page-break-inside: avoid;
}

.print_label {
    display: block;
    white-space: nowrap;
    font-size: 10pt;
}
.print, .print_only {
    display: block;
}
.page_break {
    page-break-after: always;
}


@media screen {
    .espacador_vertical_print_only {
        display: none;
    }
    .print_container{
        margin-left: 4em;
    }
    .print_header{
        display: none;
    }
    .screen_only {
        display: block;
    }
    .print {
        display: block;
    }
    .print_only {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .column {
        font-size: 5pt;
    }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */






@media print {
    body {
        background: #fff;
    }
}


@media print {
    .print_label {
        font-size: 11pt;
    }

    .screen_only,
    .img_nav, .img_nav_inativo,
    .menu_ficha, .menu_ficha_inativo, .menu_ficha_oculto, .menu_financeiro, .menu_financeiro_inativo, .menu_ficha_ativado,
    .input_filtro,
    .img_url_22 {
        display: none;
    }
    .print, .print_only {
        display: block;
    }
    .container_principal {
        box-shadow: 0 0 0 0;
        padding: 0em;
        margin: 0pt;
    }
}

@media print {
    /* CONFIGURAÇÔES GERAIS */

    * {
        background: transparent;
        color: #000;
        text-shadow: none;
        filter: none;
        -ms-filter:none !important;
        font-family: sans-serif;
    }

    body {
        margin:0;
        padding:0;
        line-height: 1.2em;
    }

    nav, footer, video, audio, object, embed {
        display:none;
    }

    img {
        max-width: 100%;
    }

    .wrap {
        width: 100%;
        margin: 0;
        float: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    /* especificar a URL entre parenteses após o link  */
    a:link:after, a:visited:after {
        content: " (" attr(href) ") ";
    }

    /* Como links muito grandes podem quebrar o parágrafo vale a pena acrescentar mais uma regrinha. */
    p a {
        word-wrap: break-word;
    }

    /* Não é interessante mostrar links internos para imagens ou JavaScript. Para isto utilizamos o seguinte parâmetro. */
    a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    /* a propriedade “widows” determina o número mínimo de linhas que podem sobrar sozinhas no topo de uma página. */
    p {
        /* widows: 3; */
    }

    /* número mínimo de linhas que devem ficar no final da página */
    p {
        /* orphans: 3; */
    }

    table {
        page-break-inside : avoid
    }

    .print, .print_only {
        display: block;
    }

    .screen_only {
        display: none;
    }
}


@media print {
    /* CONFIGURACOES ESPECIFICAS */

    .page_break {
        page-break-after: always;
    }

    .print_header{
        margin: 0mm;
        height: 20mm;
    }

    .espacador_vertical, .espacador_vertical_duplo {
        display: none;
    }

    .espacador_vertical_print_only {
        display: block;
        height: 5mm;
    }

    .ui-widget .ui-widget, .ui-grid  {
        display: none;
    }

    .print_container{
        margin: 0mm;
        display: block;
    }

    .column {
        display: block;
        height: 25mm;
        page-break-inside: avoid;
    }

    .img_nav, .img_nav_inativo,
    .menu_ficha, .menu_ficha_inativo, .menu_ficha_oculto, .menu_financeiro, .menu_financeiro_inativo, .menu_ficha_ativado,
    .input_filtro, .input_filtro_estado, .img_url_22 {
        display: none;
    }

    .container_principal {
        box-shadow: 0 0 0 0;
        padding: 0em;
        margin: 0pt;
    }
}
