@import "primeng.css"  // estilos originais dos plugins
@import "primetheme.css"
@import "primeicons.css"
@import "primeflex.css"
@import "app.css"  // estilo base
@import "personalizacao_app.css" // personalizacao para os apps
@import "gestormix.styl"  // personalizacao por projeto
@import "cores.css"  // personalizacao de cores
