
<div *ngIf="config.DISPLAY.Home" style="text-align: -webkit-center">


    <div class="container_home">

        <div>
            <div class="float_left_33 menu_home"> <img src="https://gestormix.com/img/fornecedores.png" class="img_nav_home" (click)="go('FORNECEDORES')"><br />FORNECEDORES</div>
            <div class="float_right_33 menu_home"> <img src="https://gestormix.com/img/equipe.png" class="img_nav_home" (click)="go('EQUIPE')"><br />EQUIPE</div>
            <div class="float_center_33 menu_home"> <img src="https://gestormix.com/img/clientes.png" class="img_nav_home" (click)="go('CLIENTES')"><br />CLIENTES</div>
            <div class="float-clear"></div>
        </div>

        <div class="espacador_vertical_duplo">&nbsp;</div>

        <div>
            <div class="float_left_33 menu_home"><img src="https://gestormix.com/img/lista.png" class="img_nav_home" (click)="go('ATENDIMENTOS')"><br />ATENDIMENTOS</div>
            <div class="float_right_33 menu_home"> <img src="https://gestormix.com/img/conta.png" class="img_nav_home" (click)="go('FINANCEIRO')"><br />FINANCEIRO</div>
            <div class="float_center_33 menu_home"> <img src="https://gestormix.com/img/estoque.png" class="img_nav_home" (click)="go('ESTOQUE')"><br />ESTOQUE</div>
            <div class="float-clear"></div>
        </div>

        <div class="espacador_vertical_duplo">&nbsp;</div>

        <div>
            <div class="float_left_33 menu_home"> <img src="https://gestormix.com/img/perfil.png" class="img_nav_home" (click)="go('PERFIL')"><br />MEU PERFIL</div>
            <div class="float_right_33 menu_home"> <img src="https://gestormix.com/img/historico.png" class="img_nav_home" (click)="go('HISTORICO')"><br />HISTÓRICO</div>
            <div class="float_center_33 menu_home"> <img src="https://gestormix.com/img/config.png" class="img_nav_home" (click)="go('CONFIGURACAO')"><br />CONFIGURAÇÃO</div>
            <div class="float-clear"></div>
        </div>

    </div>

    <!--
        <div class="container_home">

            <div>
                <div *ngIf="dados.total_de_fornecedores==-1" class="float_left_33 menu_home"> <img src="https://gestormix.com/img/fornecedores.png" class="img_nav_home_inativo"><br />FORNECEDORES</div>
                <div *ngIf="dados.total_de_fornecedores>-1" class="float_left_33 menu_home"> <img src="https://gestormix.com/img/fornecedores.png" class="img_nav_home" (click)="go('FORNECEDORES')"><br />FORNECEDORES</div>

                <div *ngIf="dados.total_de_equipe==-1" class="float_right_33 menu_home"> <img src="https://gestormix.com/img/equipe.png" class="img_nav_home_inativo"><br />EQUIPE</div>
                <div *ngIf="dados.total_de_equipe>-1" class="float_right_33 menu_home"> <img src="https://gestormix.com/img/equipe.png" class="img_nav_home" (click)="go('EQUIPE')"><br />EQUIPE</div>

                <div *ngIf="dados.total_de_clientes==-1" class="float_center_33 menu_home"> <img src="https://gestormix.com/img/clientes.png" class="img_nav_home_inativo"><br />CLIENTES</div>
                <div *ngIf="dados.total_de_clientes>-1" class="float_center_33 menu_home"> <img src="https://gestormix.com/img/clientes.png" class="img_nav_home" (click)="go('CLIENTES')"><br />CLIENTES</div>

                <div class="float-clear"></div>
            </div>

            <div class="espacador_vertical_duplo">&nbsp;</div>
            <div>

                <div class="float_left_33 menu_home">
                    <img src="https://gestormix.com/img/lista.png" class="img_nav_home" (click)="go('ATENDIMENTOS')"><br />ATENDIMENTOS
                </div>


                <div *ngIf="dados.total_de_estoque>-1" class="float_right_33 menu_home"> <img src="https://gestormix.com/img/conta.png" class="img_nav_home" (click)="go('FINANCEIRO')"><br />FINANCEIRO</div>

                <div *ngIf="dados.total_de_fornecedores==-1" class="float_center_33 menu_home"> <img src="https://gestormix.com/img/estoque.png" class="img_nav_home_inativo"><br />ESTOQUE</div>
                <div *ngIf="dados.total_de_fornecedores>-1" class="float_center_33 menu_home"> <img src="https://gestormix.com/img/estoque.png" class="img_nav_home" (click)="go('ESTOQUE')"><br />ESTOQUE</div>

                <div class="float-clear"></div>
            </div>

            <div class="espacador_vertical_duplo">&nbsp;</div>

            <div>

                <div *ngIf="dados.total_de_usuarios==-1" class="float_left_33 menu_home"> <img src="https://gestormix.com/img/perfil.png" class="img_nav_home_inativo"><br />MEU PERFIL</div>
                <div *ngIf="dados.total_de_usuarios>-1" class="float_left_33 menu_home"> <img src="https://gestormix.com/img/perfil.png" class="img_nav_home" (click)="go('PERFIL')"><br />MEU PERFIL</div>

                <div *ngIf="dados.total_de_historicos>-1" class="float_right_33 menu_home"> <img src="https://gestormix.com/img/historico.png" class="img_nav_home" (click)="go('HISTORICO')"><br />HISTÓRICO</div>

                <div class="float_center_33 menu_home"> <img src="https://gestormix.com/img/config.png" class="img_nav_home" (click)="go('CONFIGURACAO')"><br />CONFIGURAÇÃO</div>


                <div class="float-clear"></div>
            </div>

        </div>


    -->


    <div *ngIf="MENU_HOME_EXTRA" class="espacador_vertical_metade">&nbsp;</div>
    <div *ngIf="MENU_HOME_EXTRA" class="container_home">

        <div  *ngIf="config.is_admin" class="float_left_33 menu_home">
            <img src="https://gestormix.com/img/equipe.png" class="img_nav_home" (click)="go('SOCIOS')"><br />SÓCIOS
        </div>

        <div  *ngIf="config.is_admin" class="float_center_33 menu_home">
            <img src="https://gestormix.com/img/equipe.png" class="img_nav_home" (click)="go('USUARIOS')"><br />USUÁRIOS
        </div>

        <div class="float-clear"></div>

    </div>

    <div class="container_home_logo">
        <img src="{{config.footer_img}}" class="img_banner" alt="{{config.footer_img_alt}}" (click)="alternar_menu_extra_admin()">
    </div>

</div>
